<div class="ga-app"> 

  <div class="ga-controls">
    <a class="handle"><i class="fas fa-grip-horizontal"></i></a>
  </div>

  <div class="ga-header">
    <h3>{{localize 'ga.counter.title' }}</h3>
  </div>

  <div class="ga-counters">
    <div class="ga-input">
      <h3>{{localize 'ga.counter.ally.title'}}</h3>
      <div class="input-controls">
        <a {{#unless canEdit}}style="visibility: hidden"{{/unless}} class="decr">-</a> 
        <input type="number" data-type="allies" value="{{ally}}" 
        {{#unless canEdit}}readonly{{/unless}}> 
        <a  {{#unless canEdit}}style="visibility: hidden"{{/unless}} class="incr">+</a>
      </div>
    </div>
    
    
    <div class="ga-input">
      <h3>{{localize 'ga.counter.adversary.title'}}</h3>
      <div class="input-controls">
        <a {{#unless (isGM)}}style="visibility: hidden"{{/unless}} class="decr">-</a>
        <input type="number" data-type="adversaries" value="{{adversary}}" 
        {{#unless (isGM)}}readonly{{/unless}}> 
        <a {{#unless (isGM)}}style="visibility: hidden"{{/unless}} class="incr">+</a>
      </div>
    </div>
  </div>
  <div class="ga-options-list">
    {{#each options as |option index|}}
      <div class="option" data-matched-type="" data-cost="{{option.cost}}" data-action="{{option.action}}">
        <div class="cost">{{option.cost}} Advantage</div>
        <div class="effect">{{option.action}}</div>
        <div class="description">{{option.effect}}</div>
      </div>
    {{/each}}
  </div>
</div>